@model Tenta.Models.Customer.CustomerVM

@{
    ViewData["Title"] = "Details";
}


<div class="container shadow rounded-1 text-center py-2 my-5" style="background:#e3e3e37a">
    <h1><i class="bi bi-info-square" style="color: blue"></i> Details</h1>
    <hr />

    <h3 style="color:green">@Model.Name</h3>

    <h4>@Model.CountryLabel</h4>
    <h4>@Model.Age years old</h4>
    <h4>Birthday: @Model.Birthday.ToShortDateString()</h4>

    <div class="col">
        <div class="btn btn-secondary text-center mt-3 mb-2">
            <a asp-action="Customers" class="text-light text-decoration-none"><i class="bi bi-arrow-left-circle"></i> Back</a>
        </div>
    </div>

</div>
